node_modules
.git
.gitignore
dist
.env
.env.example
README.md
LICENSE
.github
.editorconfig
.nvmrc
.gitattributes
.prettierrc.json
.prettierignore
.eslintrc.json
.eslintignore
.lintstagedrc.json
commitlint.config.cjs
jest.config.cjs
TODO.md
bin
tsconfig.tsbuildinfo
vercel.json
docker-compose*.yml
Dockerfile
